@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: $Light-gray;
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
    object-fit: cover;
}

.container{
    margin: 0 auto;
    max-width: 100%;
    width: 40rem;
    padding: 5rem 2rem;
    text-align: center;

    @media(max-width: 450px) {

        width: 35rem;

    }
}